{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="container header-container d-lg-none">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block mobile_nav %}
<nav class="navbar navbar-expand-lg navbar-light w-100 px-auto bg-white">
    {% include 'includes/mobile-top-header.html' %}
</nav>
{% endblock %}

{% block content %}
<div class="container p-3">
    <div class="pb-4 mx-4">
        <h1>Events for Charities</h1>
        <h4></h4>
    </div>
    <div class="bg-white p-4 m-4">
        <a href="{% url 'add_event' %}" class="btn btn-main hvr-back-pulse">
            <span class="text-uppercase">Add an event</span>
        </a>
        {% for event in events %}
            {% if product.image %}
            <a href="{% url 'event_detail' event.id %}">
                <img class="card-img img-fluid h-100" src="{{ event.image.url }}" alt="{{ event.event_title }}">
            </a>
            {% else %}
            <a href="{% url 'event_detail' event.id %}">
                <img class="card-img-top img-fluid h-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ event.event_title }}">
            </a>
            {% endif %}
            <div class="card-body pb-1 bg-white">
                <p class="mb-0">{{ event.event_title }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}