{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid w-100">
    <div class="text-center mt-3 mb-4">
        <h1 class="logo-font">Events</h1>
        <hr class="w-75 mb-1">
    </div>
    <div class="row mb-5">
        <div class="col-lg-5 col-md-8 py-4 text-center ">
            {% if event.image %}
                <a href="{% url 'event_detail' event.id %}">
                    <img class="img-fluid h-100 w-75" src="{{ event.image.url }}" alt="{{ event.event_title }}">
                </a>
            {% else %}
                <a href="{% url 'event_detail' event.id %}">
                    <img class="img-fluid h-100 w-75 bg-white" src="{{ MEDIA_URL }}noimage.png" alt="{{ event.event_title }}">
                </a>
            {% endif %}
        </div>
        <div class="col-lg-6 col-md-8 font py-4">
            <h2 class="p-2"><strong>{{ event.event_title }}</strong></h2>
            <p class="p-2">{{ event.content }}</p>
            <p><i class="fa-solid fa-map-pin icon-large p-2"></i>  {{ event.location }}</p>
            <p><i class="fa-solid fa-calendar-days icon-large p-2"></i>  {{ event.event_on }}</p>
        </div>
        {% if request.user.is_superuser %}
        <large class="ml-3">
            <a href="{% url 'edit_event' event.id %}">Edit</a> | 
            <a class="text-danger" href="{% url 'delete_event' event.id %}">Delete</a>
        </large>
        {% endif %}
    </div>
</div>
        

{% endblock %}