{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'events/css/events.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container p-3">
    <div class="pb-4 mx-4">
        <h1 class="text-center">Events</h1>
        <hr class="w-75 mb-1">
    </div>
    {% for event in events %}
        <div class="row bg-white my-4">
            <div class="col-lg-3 m-3 h-100">
                {% if event.image %}
                    <a href="{% url 'event_detail' event.id %}">
                        <img class="img-fluid w-100" src="{{ event.image.url }}" alt="{{ event.event_title }}">
                    </a>
                {% else %}
                    <a href="{% url 'event_detail' event.id %}">
                        <img class="img-fluid w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ event.event_title }}">
                    </a>
                {% endif %}
            </div>
            <div class="p-4 col-lg-8 font small-font">
                <p><strong>{{ event.event_title }}</strong></p>
                <p><strong>Event location:</strong>  {{ event.location }}</p>
                <p><strong>Event happening:</strong> {{ event.event_on }}</p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}