{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/home/css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- About section -->
<section id="about">
    <div class="container p-3">
        <div class="pb-4 mx-4 text-white">
            <h1>About</h1>
            <h4></h4>
        </div>
        <div class="bg-white p-4 m-4">
            <p class="about-info">
                Fitness Madness was found by siblings Edward S. Thompsan and Elena C. Thompsan in the year 1980.
            </p>
            <p class="about-info">
                Fitness Madness offer people the chance to improve their personal health and wellbeing by offering 
                a place for them to exercise. Each gym is equipped with the latest technology and equipment. We offer
                one-on-one personal training and personalised advice suited to each individual. This would include a 
                personalised training programme, menu and training.
            </p>
            <p class="about-info">
                Customers can apply online or instore at any of our six branches.
            </p>
        </div>
    </div>
</section>
<!-- Guide section -->
<section id="guide">
    <div class="container p-4 text-center">
        <div class="pb-4 mx-4 text-white text-center">
            <h1>Methods on how to improve your personal health and wellbeing</h1>
        </div>
        <div class="row mx-4">
            <div class="col-md-6 col-lg-3 p-4 bg-white text-center">
                <i class="fa-solid fa-utensils icon-info p-3"></i>
                <p class="guide-info">Eat healthy</p>
            </div>
            <div class="col-md-6 col-lg-3 p-4 bg-white text-center">
                <i class="fa-solid fa-person-walking icon-info p-3"></i>
                <p class="guide-info">Exercise regularly</p>
            </div>
            <div class="col-md-6 col-lg-3 p-4 bg-white text-center">
                <i class="fa-solid fa-glass-water icon-info p-3"></i>
                <p class="guide-info">Drink water</p>
            </div>
            <div class="col-md-6 col-lg-3 p-4 bg-white text-center">
                <i class="fa-solid fa-mobile-screen icon-info p-3"></i>
                <p class="guide-info">Less time on screens</p>
            </div>
            <div class="col-md-6 col-lg-3 p-4 bg-white text-center">
                <i class="fa-solid fa-cloud-sun icon-info p-3"></i>
                <p class="guide-info">Spend more time outside</p>
            </div>
            <div class="col-md-6 col-lg-3 p-4 bg-white text-center">
                <i class="fa-solid fa-people-group icon-info p-3"></i>
                <p class="guide-info">Spend time with other people</p>
            </div>
            <div class="col-md-6 col-lg-3 p-4 bg-white text-center">
                <i class="fa-solid fa-bed icon-info p-3"></i>
                <p class="guide-info">Sleep well</p>
            </div>
            <div class="col-md-6 col-lg-3 p-4 bg-white text-center">
                <i class="fa-solid fa-champagne-glasses icon-info p-3"></i>
                <p class="guide-info">Have fun</p>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}