{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/home/css/home.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="pb-4 text-white">
            <h1>Contact</h1>
            <h2>You can contact us at any of our branches:</h2>
        </div>
        <div class="row">
            <div class="col-md-8 col-lg-5 p-4 m-4 bg-white large contact-small">
                <h4 class="py-3 logo-font">Loughlinstown</h4>
                <p><strong>Contact:</strong> 012823411</p>
                <p><strong>Email:</strong> loughlinstown@madnessfitness.ie</p>
                <p><strong>Address:</strong> 123 Main Street, Loughlinstown, Co.Dublin</p>
            </div>
            <div class="col-md-8 col-lg-5 p-4 m-4 bg-white large contact-small">
                <h4 class="py-3 logo-font">Foxrock</h4>
                <p><strong>Contact:</strong> 012823412</p>
                <p><strong>Email:</strong> foxrock@madnessfitness.ie</p>
                <p><strong>Address:</strong> 123 Lower James Street, Foxrock, Co.Dublin</p>
            </div>
            <div class="col-md-8 col-lg-5 p-4 m-4 bg-white large contact-small">
                <h4 class="py-3 logo-font">Dun Laoghaire</h4>
                <p><strong>Contact:</strong> 012823413</p>
                <p><strong>Email:</strong> dunlaoghaire@madnessfitness.ie</p>
                <p><strong>Address:</strong> 123 Main Street, Dun Laoghaire, Co.Dublin</p>
            </div>
            <div class="col-md-8 col-lg-5 p-4 m-4 bg-white large contact-small">
                <h4 class="py-3 logo-font">Finglas</h4>
                <p><strong>Contact:</strong> 012823414</p>
                <p><strong>Email:</strong> finglas@madnessfitness.ie</p>
                <p><strong>Address:</strong> 123 Upper Seamus Street, Finglas, Co.Dublin</p>
            </div>
            <div class="col-md-8 col-lg-5 p-4 m-4 bg-white large contact-small">
                <h4 class="py-3 logo-font">Leopardstown</h4>
                <p><strong>Contact:</strong> 012823415</p>
                <p><strong>Email:</strong> leapordstown@madnessfitness.ie</p>
                <p><strong>Address:</strong> 123 Main Street, Leapordstown, Co.Dublin</p>
            </div>
            <div class="col-md-8 col-lg-5 p-4 m-4 bg-white large contact-small">
                <h4 class="py-3 logo-font">Blanchardstown</h4>
                <p><strong>Contact:</strong> 012823416</p>
                <p><strong>Email:</strong> blanchardstown@madnessfitness.ie</p>
                <p><strong>Address:</strong> 123 Main Street, Blanchardstown, Co.Dublin</p>
            </div>
        </div>
    </div>

    </div>
{% endblock %}