{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/home/css/home.css' %}">
{% endblock %}

{% block delivery_banner %}
    <div id="delivery-banner" class="row text-center">
        <div class="col bg-black text-white">
            <h4 class="logo-font my-1 delivery-size">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
        </div>            
    </div>
{% endblock%}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row h-100 p-2">
            <div class="col-md-8 col-lg-8 p-4 mb-5 bg-red text-center">
                <h2 class="text-black p-2">
                    Would you like to join our community?
                </h2>
                <div class="'my-5 p-4">
                    <h4>
                        <a href=" {% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 ">Join now</a>
                    </h4>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 p-4 mb-5 bg-white offset-md-4 text-center">
                <h2 class="text-black">
                    Check out the latest products that we have to offer
                </h2>
                <div class="'my-5 p-4">
                    <h4>
                        <a href=" {% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop now</a>
                    </h4>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 p-4 mb-5 bg-red text-center">
                <h2 class="text-black">
                    Tips on how to improve your health
                </h2>
                <div class="'my-5 p-4">
                    <h4>
                        <a href=" {% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Learn more</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 p-4 mb-5 bg-white offset-md-4 text-center">
            <h2 class="text-black">
                Want to know what 
            </h2>
            <div class="'my-5 p-4">
                <h4>
                    <a href=" {% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Join now</a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}