body {
    background: url("/media/background-image.jpg")no-repeat center center fixed;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 200px;
}

.bg-yellow {
    background-color: yellow;
}

/* Medias queries */

/* Small screens sizes and down */
@media (max-width: 768px) {

    .delivery-size {
        font-size: 1rem;
    }

    /* Contact */

    .contact-small {
        padding:0;
        margin: 2;
        font-size: small;
    }
    
} 