{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
<div class="container header-container d-lg-none">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block mobile_nav %}
<nav class="navbar navbar-expand-lg navbar-light w-100 px-auto bg-white">
    {% include 'includes/mobile-top-header.html' %}
</nav>
{% endblock %}

{% block content %}

        <p> {{ favorite.product.name }} </p>

{% endblock %}