<div class="navbar bg-black navbar-expand w-100"  id="page-nav">
    <div class="navbar-nav">
        <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-item nav-link text-white small_nav_title">Home</a>
        <a href="{% url 'about' %}" class="logo-font font-weight-bold nav-item nav-link text-white small_nav_title">About</a>
        <a href="{% url 'contact' %}" class="logo-font font-weight-bold nav-item nav-link text-white small_nav_title">Contact</a>
        <a href="{% url 'events' %}" class="logo-font font-weight-bold nav-item nav-link text-white small_nav_title">Events</a>
        <a href="{% url 'products' %}" class="logo-font font-weight-bold nav-item nav-link text-white small_nav_title">Products</a>
    </div>
</div>
