<div class="navbar bg-black navbar-expand w-100"  id="page-nav">
    <div class="navbar-nav">
        <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-item nav-link text-white">Home</a>
        <a href="{% url 'about' %}" class="logo-font font-weight-bold nav-item nav-link text-white">About</a>
        <a href="{% url 'contact' %}" class="logo-font font-weight-bold nav-item nav-link text-white">Contact</a>
        <a href="{% url 'products' %}" class="logo-font font-weight-bold nav-item nav-link text-white">Products</a>
    </div>
</div>