<div class="navbar"  id="page-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link text-black mr-5">Home</a>
        </li>
    </ul>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a href="{% url 'about' %}" class="logo-font font-weight-bold nav-link text-black mr-5">About</a>
        </li>
    </ul>
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a href="{% url 'contact' %}" class="logo-font font-weight-bold nav-link text-black mr-5">Contact</a>
        </li>
    </ul>
</div>