{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blogs/css/blogs.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container p-3">
    <div class="pb-4 mx-4">
        <h1 class="text-center">Blogs</h1>
        <hr class="w-75 mb-1">
    </div>
    <div class="text-center">
        <a href="{% url 'add_blog' %}" class="btn btn-main hvr-back-pulse share bg-white border-black p-2">
            <span class="text-uppercase large font-weight-bold">Share your experience</span>
        </a>
    </div>
    <div class="row mb-4 justify-content-center">
        {% for blog in all_blogs %}
            <div class="col-lg-3 pt-2 pb-5 my-4 px-auto mx-4 bg-white text-center border-black">
                {% if blog.image %}
                    <h3 class="py-1"><strong>{{ blog.title }}</strong></h3>
                    <img class="img-fluid w-100 h-50 my-2" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                {% else %}
                    <h3 class="pt-5 pb-3"><strong>{{ blog.title }}</strong></h3>
                {% endif %}
                <p class="py-2">{{ blog.content }}</p>
                <p class="small mt-2 mb-0 font-italic">Written by {{ blog.blog_author }} on {{ blog.created_on }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="return-top btt-button shadow-sm rounded-0 border border-white">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}