{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blogs/css/blogs.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container p-3">
    <div class="pb-4 mx-4">
        <h1 class="text-center">My Blogs</h1>
        <hr class="w-75 mb-1">
    </div>
    <div class="row my-4 justify-content-center">
        {% for blog in blogs %}
            <div class="col-sm-6 col-md-6 col-lg-3 py-2 my-4 mx-4 bg-white text-center w-100">
                <h3 class="py-2"><strong>{{ blog.title }}</strong></h3>
                {% if blog.image %}
                    <img class="img-fluid w-100 h-50 my-2" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                {% endif %}
                <p class="pb-2">{{ blog.content }}</p>
                <p class="small mt-1 mb-0">Written by {{ blog.blog_author }} on {{ blog.created_on }}</p>
                <p>
                <a href="{% url 'edit_blog' blog.id %}" class="btn btn-main">
                <span class="text-uppercase small text-green">Edit Blog</span>
                <a href="{% url 'delete_blog' blog.id %}" class="btn btn-main">
                <span class="text-uppercase small text-red">Delete Blog</span>
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}